.vs
HENkaku/HENkaku.Droid/bin
HENkaku/HENkaku.Droid/obj
HENkaku/HENkaku.Droid/Resources/mipmap/icon.png
HENkaku/HENkaku.Droid/Resources/mipmap-hdpi/icon.png
HENkaku/HENkaku.Droid/Resources/mipmap-xhdpi/icon.png
HENkaku/HENkaku.Droid/Resources/mipmap-xxhdpi/icon.png
HENkaku/HENkaku.Resource/bin
HENkaku/HENkaku.Resource/obj
HENkaku/HENkaku.iOS/bin
HENkaku/HENkaku.iOS/obj
host/stage1.bin
host/stage2.bin
host/payload.js
packages
*.db
